name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Conan
      run: |
        pip install conan

    - name: Install dependencies
      run: conan install . --build missing --profile debug --profile:build debug

    - name: Configure CMake
      run: cmake --preset debug

    - name: Build
      run: cmake --build --preset debug

    - name: Test
      run: ctest --preset debug